aiobotocore==2.5.0
aiohttp==3.8.4
aiohttp-retry==2.8.3
aioitertools==0.11.0
aiosignal==1.3.1
alembic==1.10.4
amqp==5.1.1
antlr4-python3-runtime==4.9.3
anyio==3.6.2
appdirs==1.4.4
arrow==1.2.3
async-timeout==4.0.2
asyncssh==2.13.1
atpublic==3.1.1
attrs==23.1.0
beautifulsoup4==4.12.2
billiard==3.6.4.0
black==23.3.0
blessed==1.20.0
blinker==1.6.2
boto3==1.26.76
botocore==1.29.76
celery==5.2.7
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cloudpickle==2.2.1
cmake==3.26.3
colorama==0.4.6
configobj==5.0.8
contourpy==1.0.7
croniter==1.3.14
cryptography==40.0.2
cycler==0.11.0
databricks-cli==0.17.6
dateutils==0.6.12
deepdiff==6.3.0
dictdiffer==0.9.0
diskcache==5.6.1
distro==1.8.0
docker==6.0.1
dpath==2.1.5
dulwich==0.21.3
dvc==2.55.0
dvc-data==0.47.2
dvc-http==2.30.2
dvc-objects==0.21.2
dvc-render==0.3.1
dvc-s3==2.22.0
dvc-studio-client==0.8.0
dvc-task==0.2.0
entrypoints==0.4
fastapi==0.88.0
filelock==3.12.0
Flask==2.3.1
flatten-dict==0.4.2
flufl.lock==7.1.1
fonttools==4.39.3
frozenlist==1.3.3
fsspec==2023.4.0
funcy==2.0
gitdb==4.0.10
GitPython==3.1.31
grandalf==0.8
greenlet==2.0.2
gunicorn==20.1.0
h11==0.14.0
hydra-core==1.3.2
idna==3.4
importlib-metadata==6.6.0
inquirer==3.1.3
isort==5.12.0
iterative-telemetry==0.0.8
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
kaggle==1.5.13
kiwisolver==1.4.4
kombu==5.2.4
lightning==2.0.2
lightning-cloud==0.5.34
lightning-utilities==0.8.0
lit==16.0.2
loguru==0.7.0
Mako==1.2.4
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.7.1
mccabe==0.7.0
mdurl==0.1.2
mlflow==2.3.0
mpmath==1.3.0
multidict==6.0.4
mypy-extensions==1.0.0
nanotime==0.5.2
networkx==3.1
numpy==1.24.3
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.2
omegaconf==2.3.0
ordered-set==4.1.0
orjson==3.8.10
packaging==23.1
pandas==2.0.1
pathspec==0.11.1
Pillow==9.5.0
platformdirs==3.4.0
prompt-toolkit==3.0.38
protobuf==4.22.3
psutil==5.9.5
pyarrow==11.0.0
pycodestyle==2.10.0
pycparser==2.21
pydantic==1.10.7
pydot==1.4.2
pyflakes==3.0.1
pygit2==1.12.0
Pygments==2.15.1
pygtrie==2.5.0
PyJWT==2.6.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==1.0.0
python-editor==1.0.4
python-multipart==0.0.6
python-slugify==8.0.1
pytorch-lightning==2.0.2
pytz==2023.3
PyYAML==6.0
querystring-parser==1.2.4
readchar==4.0.5
requests==2.29.0
rich==13.3.4
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
s3fs==2023.4.0
s3transfer==0.6.0
scikit-learn==1.2.2
scipy==1.10.1
scmrepo==1.0.2
shortuuid==1.0.11
shtab==1.6.1
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.4.1
SQLAlchemy==2.0.10
sqlparse==0.4.4
sqltrie==0.3.1
starlette==0.22.0
starsessions==1.3.0
sympy==1.11.1
tabulate==0.9.0
text-unidecode==1.3
threadpoolctl==3.1.0
tomli==2.0.1
tomlkit==0.11.7
torch==2.0.0
torchmetrics==0.11.4
torchvision==0.15.1
tqdm==4.65.0
traitlets==5.9.0
triton==2.0.0
typing_extensions==4.5.0
tzdata==2023.3
urllib3==1.26.15
uvicorn==0.21.1
vine==5.0.0
voluptuous==0.13.1
wcwidth==0.2.6
websocket-client==1.5.1
websockets==11.0.2
Werkzeug==2.3.0
wrapt==1.15.0
yarl==1.9.2
zc.lockfile==3.0.post1
zipp==3.15.0
